/* Style for "LOGO_fondb" */
.logowidth
{width: 48px;
height: 48px;}
/* Style for "Urgences :" */
h1{
width: 116px;
height: 30px;
color: rgba(0, 0, 0, 0.6);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
letter-spacing: 0.19px;
}
.form input 
{
	/* Style for "Surface" */
width: 328px;
height: 56px;
border-radius: 4px;
border: 1px solid #000000;
background-color: rgba(248, 247, 247, 0.91);
}